#page-connexion{
    padding: 100px 0;
    margin: 0;
}

#div-connexion{
    display: flex;
    flex-direction: column;
    align-items :center;
    justify-content: center;
    width: fit-content;
    height: auto;
    border-radius: 20px;
    margin-right:auto;
    margin-left: auto;
    padding: 50px;
    box-shadow: 10px 10px 14px 14px #cecece;
}

#div-connexion form * {
    display: block;
}

#div-connexion form input {
    padding: 12px 0;
    font-size: 14px;
    outline: none;
    border: none;

    border-bottom:0.4px solid green;
    width: 350px;
}

#div-connexion form label {
    margin-top: 30px;
    margin-bottom: 5px;
    color: rgb(40, 40, 40);
    font-size: 14px;
    font-weight: 300;
}


#div-connexion form button {
    margin: 30px auto;
    border:none;
    background-color: rgb(171, 94, 243);
      background-color: rgb(94, 149, 127);
    color:white;
    font-size: 15.5px;
      padding: 11px 15px;
    border-radius: 5px;
}

#go_page_inscription{
    color: rgb(94, 149, 127);
    text-decoration: none;
    padding : 9px 15px;
    border: 1px solid rgb(94, 149, 127);
    border-radius: 5px;
    text-align: center;
    width: min-content;
    margin: 10px auto;
    font-size: 15px;

}

@media(max-width: 450px){
  #page-connexion {
    padding: 50px 0;

  }
    #div-connexion{
    padding: 10px;
    width: 95vw;
      box-shadow: none;
    }
    form{
        width: 100%;

    }
    #div-connexion form input {
        width: 100%;
        padding: 20px 0;
        margin-bottom: 42px;
        font-size: 17px;
      }
      #div-connexion form label {
        font-size: 17px;
      }

      #go_page_inscription,
      #div-connexion form button{
        padding : 15px 17px;
        font-size: 17.5px;

      }


}
