body{
  background-color:white;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  /* background-color: rgb(35, 30, 30); */
   color: black;
  height: 50px;
  width: 100%;
  padding-right:20px;
  box-sizing: border-box;
  border-bottom: 0.3px solid gray;
  background:white;

}

nav div a {
  color: black;
  margin-left: 20px;
}


#nav-femme:hover{
  text-decoration: underline;
}

#nav-homme:hover{
  text-decoration: underline;
}

#nav-enfant:hover{
  text-decoration: underline;
}

#nav-femme-supplementaire, #nav-homme-supplementaire{
  display:none;
  height: auto;
  width: 100%;
  border-bottom: 0.3px solid gray;
  padding: 20px 0;
  background-color: white;

}

#nav-femme-supplementaire a, 
#nav-homme-supplementaire a
{
  display: block;
  text-decoration: none;
  color:black;
  padding: 6px;;
  padding-left:20px;

}

#nav-femme-supplementaire a:hover, 
#nav-homme-supplementaire a:hover
{
  color:rgb(122, 118, 118);

}