nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:first baseline;
    background-color: rgb(35, 30, 30);
    color: white;
    height: 50px;
    width: 100%;
  }

  nav a {
    margin-left: 20px;
  }
  