.div-search {
    padding: 50px 20px 15ps 20px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    width: 90%;
    border: none;
    border-bottom: 0.3px solid gray;
    padding: 20px;
    font-size: 19px;;
}

.search-input:active,
.search-input:focus-visible {
    border-bottom: 1.3px solid rgb(123, 107, 232);
    outline: none;
}

.btn-search button{
    border: none;
    padding: 20px;
    background-color: transparent;
    border-bottom: 1px solid black;

}