body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: whitesmoke;
}



.panier-main {
  width: 100%;
  display: flex;
}

.left {
  flex: 60%;
  min-width: 500px;

}

.right {
  flex: 40%;
  max-width: 500px;
  min-width: 500px;

}

.right,
.left {
  margin: 20px;
}
.left  .div-mon-panier,  
.right .div-form-bon-de-reduction
{
  margin:10px;
  background-color: white;
  padding: 10px;

}

@media screen and (max-width: 1000px) {
  .panier-main {
    flex-direction: column;
  }
  
  .left {
    flex: 100%;
    max-width: 100%;
    min-width: 300px;

  }
  
  .right {
    flex: 100%;
    max-width: 100%;
    min-width: 300px;
  }
  .right,
.left {
  margin: 5px;
}

}