*{
    box-sizing: border-box;
}


.produit-information-container {
    margin: 10px auto;
    padding: 10px 30px;
    min-width: 45vw;
}

@media(max-width : 950px){
.produit-information-container {
    width: 90vw;
}
}

@media(max-width : 550px){
    .produit-information-container {
        padding: 0;
    }
    }

/* titre */
.produit-information-container h1{
    color: #2c2b2b;
    text-transform: uppercase;
}

.produit-information-container
.prix {
    font-size: 30px;
    font-weight: 700;
    color: #2c2b2b;
}

.produit-information-container
.couleur {
    font-size: 17px;
}

.produit-information-container
.taille select {
    color:black;
    padding: 10px;
    background-color: white;
    border: 0.2px solid gray;
    width: 100%;
    font-size: 18px;
}

.produit-information-container
.panier-like {
    width: 100%;
    display: flex;
    color: #2c2b2b;
}


#btn-panier ,
#btn-dislike,
#btn-like {
    width: 50%;
    padding: 14px;
    border: none;
    background-color: white;
    border: 0.2px solid black;
    font-size: 16px;
    text-decoration: none !important;
    color: #2c2b2b;
}

@media(max-width: 620px) {

    .panier-like {
        display: block;
    }

}

.informations-descriptive-item
{
    width: 400px;
}

