.produit-photos-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.liste-photo_vertical {
    display: flex;
    flex-direction: column;
    height: 700px;
    overflow: scroll;
}

.liste-photo_vertical img {
    width: 100px;
    height: 150px;
    object-fit: cover;
}

#photo-viewer {
    width: 400px;
    height: 600px;
    object-fit: cover;
}

.liste-photo_vertical img:hover {
    border: 1px solid black;
}

@media(max-width: 920px) {

    .produit-photos-container {
        flex-direction: column-reverse;
    }

    .liste-photo_vertical {
        flex-direction: row;
        height: max-content;
        overflow: scroll;
        width: 400px;
    }

}
@media(max-width: 680px) {

   

    .liste-photo_vertical {
        flex-direction: row;
        height: max-content;
        overflow: scroll;
        width: 85vw;
    }

    #photo-viewer {
        width: 85vw;
        margin: 0;
        padding: 0;
    }


}
