.div-photo-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
    width: 80vw;
    margin: 10px auto;
}

@media(max-width: 1000px) {

    .div-photo-info {
        padding: 10px;
    }
}

@media(max-width: 720px) {

    .div-photo-info {
        /* display: block; */
        padding: 3px;
        flex-wrap: wrap;
        width: 95vw;
    }

}