.div-liste-produits{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
    width: 100%;
    padding: auto;
}


.div-un-produit{
    margin: 5px;
    width: 400px;
    
}

.div-un-produit a img{
    width: 400px;
    height: 550px;
    object-fit: cover;
  
}
  .div-un-produit #btnAddHeart, 
  .div-un-produit #btnRemoveHeart {
     border: none;
     background-color: transparent;
     color : black;
    }


.div-un-produit p{
    color:black;
}


@media(max-width: 450px){
    .div-liste-produits .div-un-produit{
        width: 100%;
    }

    .div-un-produit a img{
        width: 100%;
        height: auto;
    }
}
